* {
  box-sizing: border-box;
}

.pixels {
background-color: green;
padding: 10px;
margin: 10%;
height: 820px;
width: 620px;
position: absolute;
}
.pixel{
  /*display: none;*/
}
.inside {
  background-color: gray;
  /*text-align: center;*/
  /*box-sizing: padding-box;*/
  height: 75%;
}

.colorbar{
  height: 25%;
  width: 66.66666666666%;
  float: left;
  background-color: tan;

}

.current {
  height: 200px;
  width: 200px;
  float: right;
}

.whatcolor {
  width: 180px;
  height: 50px;
  margin: 10px;
  background-color: white;
}

body {
  position: relative;
}
